[Unit]
Description=Sistema de Riego Inteligente
After=network.target

[Service]
Type=simple
User=alexdev
WorkingDirectory=/home/alexdev/Documents/irrigacion
ExecStart=/home/alexdev/Documents/irrigacion/venv/bin/python3 /home/alexdev/Documents/irrigacion/run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

