body{font-family:sans-serif;background:#111;color:#eee;text-align:center}
.card{background:#1e1e1e;padding:20px;border-radius:12px;display:inline-block}

.logout{
  position:absolute;
  top:20px;
  right:20px;
  color:#fff;
  text-decoration:none;
  font-size:14px;
  opacity:.7
}
.logout:hover{opacity:1}
