<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>sistema de riego jardin</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
body { font-family: Arial; background:#f4f4f4; text-align:center; }
button { padding:15px 30px; font-size:18px; border:none; border-radius:8px; background:#4CAF50; color:white; }
.switch { margin:20px; font-size:18px; }
canvas { max-width:250px; margin:20px; }
</style>
</head>
<body>

<h1>🌱 Sistema de Irrigación</h1>

<button onclick="regar()">💧 Riego Manual</button>

<div class="switch">
  <label>
    <input type="checkbox" id="autoSwitch" onchange="toggleAuto()">
    🌦️ Modo Automático
  </label>
</div>

<div>
  <canvas id="tempGauge"></canvas>
  <canvas id="humGauge"></canvas>
</div>

<script>
const tempChart = new Chart(tempGauge, {
  type:'doughnut',
  data:{ datasets:[{ data:[0,50] }] },
  options:{ circumference:180, rotation:270 }
})

const humChart = new Chart(humGauge, {
  type:'doughnut',
  data:{ datasets:[{ data:[0,100] }] },
  options:{ circumference:180, rotation:270 }
})

function actualizar(){
  fetch('/data').then(r=>r.json()).then(d=>{
    if(d.temperature!=null){
      tempChart.data.datasets[0].data=[d.temperature,50-d.temperature]
      tempChart.update()
    }
    if(d.humidity!=null){
      humChart.data.datasets[0].data=[d.humidity,100-d.humidity]
      humChart.update()
    }
    document.getElementById("autoSwitch").checked = d.auto
  })
}

function regar(){
  fetch('/water',{method:'POST'})
}

function toggleAuto(){
  fetch('/auto',{
    method:'POST',
    headers:{'Content-Type':'application/json'},
    body:JSON.stringify({state:autoSwitch.checked})
  })
}

setInterval(actualizar,3000)
</script>

</body>
</html>
