<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Irrigación{% endblock %}</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
  <header class="topbar">
    <div class="logo">🌱 Irrigación</div>
    <div class="datetime">{{ now_str }}</div>
    <a href="/logout" class="logout">Salir</a>
  </header>
  {% include "partials/navbar.html" %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}

  {% block scripts %}{% endblock %}

</body>
</html>
